MISTRAL_API_KEY=""

# Hugging Face HUB TOKEN
HF_TOKEN=""

TAVILY_API_KEY=""
VIRUSTOTAL_API_KEY=""

# GMail Configuration
GOOGLE_APPLICATION_CREDENTIALS="Path/To/Tema_6/credentials.json"
GMAIL_TOKEN="Path/To/Tema_6/token.json"  # Este archivo se genera despues del primer login

# SOC Configuration
SOC_EMAIL_RECIPIENT="your@mail.com"
SOC_EMAIL_SENDER="your@mail.com"